DateTime==5.4
dbt-core==1.7.4
dbt-postgres==1.7.4
google-auth==2.28.2
google-auth-oauthlib==1.2.0
gspread==6.0.2
gspread-dataframe==3.3.1
jsonschema==4.21.0
jsonschema-specifications==2023.12.1
numpy==1.26.3
oauthlib==3.2.2
pandas==2.1.4
plotly==5.19.0
requests==2.31.0
spyder-kernels==2.5.0
SQLAlchemy==2.0.25
streamlit==1.32.0
tqdm==4.66.1
urllib3==1.26.18